.root {
    margin-top: 15px;
  }
   
  .title {
    text-align: center;
    font-size: inherit;
  }
   
  .widget .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50px;
  }
   
  .widget .cell {
    width: 50px;
  }
   
  .widget .reaction {
    width: 100%;
    border-radius: 0.375rem;
    border: #9ca3af 1px solid;
  }
   
  .widget .reaction:hover {
    border: #2dbcbe 1px solid;
  }

  html[data-theme="dark"] .widget .reaction:hover {
    border: #2dbcbe 1px solid;
  }

  html[data-theme="dark"] .widget .reaction {
    border: #606770 1px solid;
  }
   
  .widget .footer {
    margin-top: 10px;
    margin-left: 0;
  }
  .hr-powered-by{
    visibility: hidden;

}
